# pre-commit automatically excludes submodules
# exclude: |
#   (?x)^(
#       test/.*|
#   )$

repos:
  # auto formatters (no work required) #############################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        # https://github.com/prettier/plugin-php/issues/2430
        exclude: workers/.*

  - repo: local
    hooks:
      - id: phpcbf-pure
        name: PHP Code Beautifier and Fixer (pure PHP files)
        entry: ./vendor/bin/phpcbf
        args: [--standard=./.phpcs-ruleset-pure.xml, --colors]
        language: system
        files: \.php$
        exclude: |
          (?x)^(
              test/.*|
              workers/.*|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/templates/.*|
              resources/mail/.*|
              webroot/.*|
              \.php-cs-fixer\.dist\.php|
          )$
      - id: phpcbf-impure
        name: PHP Code Beautifier and Fixer (mixed PHP/HTML files)
        entry: ./vendor/bin/phpcbf
        args: [--standard=./.phpcs-ruleset-impure.xml, --colors]
        language: system
        files: |
          (?x)^(
              resources/templates/.*\.php|
              resources/mail/.*|
              webroot/.*\.php|
          )$
        # the user_flag_* templates use funky syntax and the formatter ruins them
        exclude: |
          (?x)^(
              resources/mail/user_flag_.*\.php|
          )$

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        # exclude impure PHP files
        exclude: |
          (?x)^(
              composer\.json|
              composer\.lock|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/templates/.*|
              webroot/.*|
              resources/mail/.*|
          )$

  # linters (work required) ########################################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-xml
      - id: check-added-large-files
      - id: check-executables-have-shebangs

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: phpcs-pure
        name: PHP Code Sniffer (pure PHP files)
        entry: ./vendor/bin/phpcs
        args: [--standard=./.phpcs-ruleset-pure.xml, --colors, -s]
        language: system
        files: \.php$
        exclude: |
          (?x)^(
              test/.*|
              workers/.*|
              node_modules/.*|
              resources/lib/phpopenldaper/.*|
              vendor/.*|
              resources/templates/.*|
              resources/mail/.*|
              webroot/.*|
              \.php-cs-fixer\.dist\.php|
          )$
      - id: phpcs-impure
        name: PHP Code Sniffer (mixed PHP/HTML files)
        entry: ./vendor/bin/phpcs
        args: [--standard=./.phpcs-ruleset-impure.xml, --colors, -s]
        language: system
        files: |
          (?x)^(
              resources/templates/.*\.php|
              resources/mail/.*\.php|
              webroot/.*\.php|
          )$
        # the user_flag_* templates use funky syntax and the formatter ruins them
        exclude: |
          (?x)^(
              resources/mail/user_flag_.*\.php|
          )$
      - id: php-l
        name: php -l
        entry: php
        language: system
        files: \.php$
        args: [-l]
      - id: assert-UnityHTTPD-used
        name: Assert UnityHTTPD functions are used
        entry: bash ./test/assert-UnityHTTPD-used.bash
        language: system
        files: \.php$
        exclude: |
          (?x)^(
              resources/lib/UnityHTTPD\.php|
              workers/.*|
          )$
      - id: assert-utils-used
        name: Assert utils are used
        entry: bash ./test/assert-utils-used.bash
        language: system
        files: \.php$
        exclude: |
          (?x)^(
              ^resources/lib/utils\.php$|
              ^test/.*\.php$|
          )$
      - id: assert-exceptions-used
        name: Assert exceptions are used
        entry: bash ./test/assert-exceptions-used.bash
        language: system
        files: ^resources/.*\.php$
        exclude: ^resources/lib/UnityHTTPD\.php$
      - id: assert-forbidden-used
        name: Assert forbidden() is used
        entry: bash ./test/assert-forbidden-used.bash
        language: system
        files: ^webroot/admin/.*\.php$
