parameters:
  level: 1
  paths:
    - resources
    - test
  ignoreErrors:
    - messages:
        - '#Variable \$this might not be defined.#'
        - '#Variable \$data might not be defined.#'
      paths:
        - resources/mail/*
