parameters:
  level: 4
  paths:
    - resources
    - test
  ignoreErrors:
    # $this, $data comes from UnityMailer
    - messages:
        - '#Variable \$this might not be defined.#'
        - '#Variable \$data might not be defined.#'
      paths:
        - resources/mail/*
    # these functions are called with call_user_func
    - messages:
        - '#Method SSHKeyAddTest::addSshKeysPaste\(\) is unused.#'
        - '#Method SSHKeyAddTest::addSshKeysImport\(\) is unused.#'
        - '#Method SSHKeyAddTest::addSshKeysGenerate\(\) is unused.#'
        - '#Method SSHKeyAddTest::addSshKeysGithub\(\) is unused.#'
      paths:
        - test/functional/SSHKeyAddTest.php
    # assertTrue(true) makes phpunit shut up about tests doing no assertions
    - messages:
        - '#Call to method PHPUnit\\Framework\\Assert::assertTrue\(\) with true will always evaluate to true.#'
      paths:
        - test/functional/InvalidEPPNTest.php
        - test/functional/PageLoadTest.php
    # I cannot seem to make this error go away no matter how many functions I add @phpstan-impure to
    - messages:
        - '#Negated boolean expression is always false\.#'
      paths:
        - test/functional/PiRemoveUserTest.php
        - test/phpunit-bootstrap.php
    # $Subject is written by mail templates
    - messages:
        - '#Property UnityWebPortal\\lib\\UnityWebhook::\$Subject is never written, only read\.#'
      paths:
        - resources/lib/UnityWebhook.php
