<!-- restrictWarnings="true" -->
<phpunit
  bootstrap="test/phpunit-bootstrap.php"
  failOnWarning="true"
  failOnDeprecation="true"
  failOnNotice="true"
>
  <testsuites>
    <testsuite name="unit">
      <directory>test/unit</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>test/functional</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">resources/lib</directory>
    </include>
  </source>
  <extensions>
    <bootstrap class="RobinIngelbrecht\PHPUnitCoverageTools\PhpUnitExtension">
      <parameter name="exitOnLowCoverage" value="1"/>
      <parameter name="cleanUpCloverXml" value="1"/>
    </bootstrap>
  </extensions>
</phpunit>
