.filterSearch {
  max-width: fit-content !important;
}

#uid-filter,
#org-filter,
#mail-filter,
#groups-filter {
  margin-right: 5px;
}

#name-filter,
#unityID-filter {
  margin-right: 100px;
}

.key td:hover {
  cursor: pointer;
}
