html,
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--light_background);
  color: var(--light_foreground);
  height: 100%;
  overscroll-behavior-y: none;
  font-size: 11pt;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

/*
-------------
   GLOBALS
-------------
*/

code {
  background: var(--light_panel_background);
  border-radius: 5px;
  padding: 3px 8px;
  line-height: 22pt;
}

.code {
  background: var(--light_panel_background);
  line-height: 22pt;
  font-family: monospace;
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--accent_2);
}

h1 {
  font-size: 18pt;
  font-weight: bold;
  padding-bottom: 5px;
  display: block;
  margin: 0px 0 10px 0;
}

h2 {
  font-size: 16pt;
  font-weight: bold;
  padding-bottom: 5px;
  display: block;
  margin: 0px 0 10px 0;
}

h3 {
  font-size: 16pt;
  font-weight: unset;
  padding-bottom: 5px;
  display: block;
  margin: 10px 0 10px 0;
}

h4 {
  font-size: 15pt;
  font-weight: unset;
  padding-bottom: 5px;
  font-style: italic;
  display: block;
  margin: 0 0 10px 0;
}

h5 {
  font-size: 12pt;
  font-weight: unset;
  color: var(--light_foreground_smallheader);
  display: block;
  padding: 0;
  margin: 0 0 10px 0;
}

hr {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid var(--light_borders);
  margin: 10px 0 10px 0;
  display: block;
}

p {
  margin: 0;
}

.vertical-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

button.plusBtn span {
  font-size: 24pt;
  font-family: monospace;
}

button.plusBtn {
  width: 100%;
  max-width: 200px;
  padding: 0;
  overflow: hidden;
}

/* Form Elements */

form > * {
  display: block;
}

form > *:not(:first-child) {
  margin-top: 5px;
}

input:focus,
textarea:focus,
select:focus {
  outline: var(--accent) solid 2px;
}

button:focus,
input[type="submit"]:focus {
  outline: none;
}

input[type="text"],
input[type="password"],
input[type="date"] {
  margin: 10px 0 10px 0;
  border: 1px solid var(--light_borders);
  padding: 5px;
  width: calc(100% - 12px);
  /* Factors in extra border and padding */
  max-width: 300px;
  border-radius: 5px;
}

input[type="submit"],
button {
  background: var(--accent);
  color: var(--accent_foreground);
  cursor: pointer;
  border: 0;
  padding: 8px 12px 8px 12px;
  border-radius: 5px;
  transition: background 0.1s;
  display: inline-block;
}

input[type="submit"]:hover,
button:hover {
  background: var(--accent_2);
}

input[type="submit"]:disabled,
button:disabled {
  background: var(--accent_disabled);
  cursor: default;
}

input[type="submit"].danger,
button.danger {
  background: var(--danger);
}

input[type="submit"].danger:hover,
button.danger:hover {
  background: var(--danger_hover);
}

input[type="submit"].danger:disabled,
button.danger:disabled {
  background: var(--danger_disabled);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
}

label {
  display: inline;
  user-select: none;
  font-size: 10pt;
  color: var(--color-background-text-inactive);
  overflow: hidden;
}

input[type="radio"] {
  margin-bottom: 0;
}

select {
  border: 1px solid var(--light_borders);
  background: white;
  padding: 5px 10px 5px 20px;
  max-width: 300px;
  border-radius: 5px;
}

textarea {
  border: 1px solid var(--light_borders);
  width: calc(100% - 12px);
  min-height: 150px;
  display: block;
  margin: 10px 0 10px 0;
  resize: vertical;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  border-radius: 5px;
  padding: 5px;
}

div.inline * {
  display: inline;
  margin-right: 10px;
}

/*
---------------------
   Global Elements
---------------------
*/

/* WRAPPERS */

main {
  flex: 1 0 auto;
  padding: 15px 20px 20px 20px;
  max-width: 1000px;
  line-height: 24px;
}

/* FOOTER */

footer {
  background: var(--light_footer_background);
  flex-shrink: 0;
  text-align: center;
  font-size: 8pt;
  color: var(--light_footer_foreground);
  padding-bottom: 10px;
}

footer > * {
  display: table;
  margin: 10px auto 0 auto;
}

footer #footerLogos img {
  padding: 0 10px 0 10px;
  max-width: 120px;
  max-height: 90px;
  margin-bottom: 10px;
  vertical-align: middle;
}

@media only screen and (min-width: 501px) {
  footer #footerLogos > * {
    display: inline-block;
  }
}

@media only screen and (max-width: 500px) {
  footer #footerLogos > * {
    display: block;
  }
}

#viewAsBar {
  background: orange;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#viewAsBar > * {
  display: inline-block;
}

#viewAsBar input[type="submit"] {
  margin: 0 0 0 20px;
}

/* Search Box CSS */
div.searchWrapper {
  background: var(--light_background);
  position: absolute;
  top: 50px;
  z-index: 200;
  overflow: hidden;
  font-size: 11pt;
  user-select: none;
  width: 100%;
  margin-left: -2px;
  border: 1px solid var(--light_borders);
  border-radius: 5px;
}

div.searchWrapper > * {
  display: block;
  cursor: pointer;
  padding: 4px 10px 4px 10px;
}

div.searchWrapper > *:hover {
  background: var(--light_panel_background);
}
