.message {
    border-radius: 10px;
    /* extra padding on right to make room for button */
    padding: 10px 40px 10px 40px;
    /* needed for button position: absolute */
    position: relative;
    text-align: center;
    /* width: fit-content; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.message h3 {
    margin: 0;
}

.message.debug {
    color: #856404;
    background-color: #fff3cd;
}

.message.success {
    color: #155724;
    background-color: #d4edda;
}

.message.info {
    color: #0c5460;
    background-color: #d1ecf1;
}

.message.warning {
    color: #856404;
    background-color: #fff3cd;
}

.message.error {
    color: #721c24;
    background-color: #f8d7da;
}

.message button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: inherit;
    color: inherit;
    font-size: 2rem;
}
