.message {
    background: green;
    border-radius: 10px;
    padding: 5px 40px 5px 40px;
    text-align: center;
    width: fit-content;
    margin: auto;
    color: #494949
}

.message.debug {
    background-color: rgb(255, 255, 128);
}

.message.success {
    background-color: rgb(146, 192, 146);
}

.message.info {
    background-color: rgb(173, 173, 173);
}

.message.warning {
    background-color: rgb(255, 199, 77);
}

.message.error {
    background-color: rgb(255, 104, 104);
}
