.message {
    background: green;
    border-radius: 10px;
    padding: 5px 40px 5px 40px;
    text-align: center;
    width: fit-content;
    margin: auto;
}

.message.debug {
    background-color: yellow;
}

.message.success {
    background-color: green;
}

.message.info {
    background-color: gray;
}

.message.warning {
    background-color: yellow;
}

.message.error {
    background-color: red;
}
