.message {
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color: #676767
}

.message h3 {
    margin: 0;
}

.message.debug {
    background-color: rgb(255, 255, 128);
}

.message.success {
    background-color: rgb(146, 192, 146);
}

.message.info {
    background-color: rgb(173, 173, 173);
}

.message.warning {
    background-color: rgb(255, 199, 77);
}

.message.error {
    background-color: rgb(255, 182, 182);
}
