div.modalWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

div.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-background);
    padding: 15px;
    width: calc(100% - 30px);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
    border-radius: 5px;
}

div.modalTitleWrapper {
    overflow: hidden;
    display: inline-block;
}

div.modalMessages {
    color: var(--color-text-failure);
    font-size: 11pt;
}

div.modalMessages > * {
    margin-top: 7px;
    display: block;
}

div.modalBody > * {
    margin: 0;
}

/* Search Box CSS */
div.searchWrapper {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    background: var(--color-background);
    position: absolute;
    top: 40px;
    z-index: 200;
    width: 100%;
    overflow: hidden;
    font-size: 11pt;
    user-select: none;
    border-radius: 10px;
}

div.searchWrapper > * {
    display: block;
    cursor: pointer;
    padding: 4px 10px 4px 10px;
}

div.searchWrapper > *:hover {
    background: var(--color-background);
}