/* Navbar */

:root {
  --header-height: 50px;
}

hr.navHR {
  margin-left: 10px;
  margin-right: 10px;
}

nav.mainNav {
  background: var(--accent);
  font-size: 11pt;
  white-space: nowrap;
  z-index: 9;
}

nav.mainNav a {
  color: var(--accent_foreground);
  background: var(--accent_1);
  border-radius: 10px;
  display: block;
  margin: 10px 8px 10px 8px;
  padding: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.1s;
  overflow: hidden;
}

nav.mainNav a:hover {
  text-decoration: none;
  background: var(--accent_2);
}

nav.mainNav a.active {
  background: var(--accent_2);
}

header {
  background: var(--accent);
  height: var(--header-height);
  z-index: 10;
}

header > #imgLogo {
  height: 65%;
  margin-left: 10px;
  margin-top: 8px;
}

header > a.unity-state {
  background: var(--accent_foreground);
  color: var(--accent);
  display: block;
  position: absolute;
  top: 8px;
  left: 140px;
  padding: 1px 5px 1px 5px;
  font-weight: bold;
  font-size: 10pt;
  border-radius: 5px;
}

header > a.unity-state:hover {
  text-decoration: none;
}

header > button.hamburger {
  background: var(--accent);
  padding: 0;
  float: right;
}

header > button.hamburger > img {
  height: calc(var(--header-height) * 0.6);
  margin-top: calc(var(--header-height) * 0.2);
  margin-right: calc(var(--header-height) * 0.2);
}

/* MOBILE VIEW */

@media only screen and (max-width: 1000px) {
  header {
    width: 100%;
  }
}

/* DESKTOP VIEW */

@media only screen and (min-width: 1001px) {
  :root {
    --navbar-width: 250px;
  }

  nav.mainNav {
    position: fixed;
    width: var(--navbar-width);
    padding-top: var(--header-height);
    height: 100%;
  }

  header > button.hamburger {
    display: none;
  }

  main {
    margin-left: var(--navbar-width);
  }

  footer {
    margin-left: var(--navbar-width);
  }

  header {
    width: var(--navbar-width);
    position: fixed;
    top: 0;
    left: 0;
  }
}
