networks:
  default:
    name: unity_dev_network
services:
  identity:
    hostname: identity
    build: identity
    ports:
      - "8010:80"
      - "389:389"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "if [ -f /tmp/up ]; then (nc -z localhost 389 && touch /tmp/up); else true; fi",
        ]
      interval: 1s
  sql:
    hostname: sql
    build: sql
    ports:
      - "8020:80"
      - "3306:3306"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "if [ -f /tmp/up ]; then (nc -z localhost 3306 && touch /tmp/up); else true; fi",
        ]
      interval: 1s
  smtp:
    hostname: smtp
    image: schickling/mailcatcher
    ports:
      - "8030:1080"
  web:
    hostname: web
    build: web
    ports:
      - "8000:80"
    volumes:
      - ../../:/var/www/unity-web-portal
    depends_on:
      identity:
        condition: service_healthy
      sql:
        condition: service_healthy
      smtp:
        condition: service_started
