version: "3.9"
services:
  identity:
    hostname: identity
    build: identity
    ports:
      - "8010:80"
  web:
    hostname: web
    build: web
    ports:
      - "8000:80"
    volumes:
      - ../../:/var/www/unity-web-portal
  sql:
    hostname: sql
    build: sql
    ports:
      - "8020:80"
  smtp:
    hostname: smtp
    image: schickling/mailcatcher
    ports:
      - "8030:1080"
networks:
  default:
    name: unity_dev_network