<VirtualHost *:80>

        ServerName <DOMAIN>
        ServerAlias www.<DOMAIN>

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

        # Force redirect to SSL
        RewriteEngine On
        RewriteCond %{HTTPS}  !=on
        RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

</VirtualHost>

<IfModule mod_ssl.c>
        <VirtualHost _default_:443>

                ServerName <DOMAIN>
                ServerAlias www.<DOMAIN>

                DocumentRoot /srv/www/unity-web/webroot

                ErrorLog ${APACHE_LOG_DIR}/error.log
                CustomLog ${APACHE_LOG_DIR}/access.log combined

                ### SSL ###
                SSLEngine on
                SSLCertificateFile <cert>
                SSLCertificateKeyFile <key>
                SSLProtocol -ALL +TLSv1.2
                SSLCipherSuite ALL:!aNULL:!ADH:!eNULL:!LOW:!EXP:RC4+RSA:+HIGH:+MEDIUM

                <FilesMatch "\.(cgi|shtml|phtml|php)$">
                        SSLOptions +StdEnvVars
                </FilesMatch>
                <Directory /usr/lib/cgi-bin>
                        SSLOptions +StdEnvVars
                </Directory>

                Alias /docs <path to docs>  # Alias for docs page

                Alias /admin/<admin page> <path to admin page>  # Not required - just an example

                ### User Level Access ###
                <Location /panel>
                        AuthType shibboleth
                        ShibRequestSetting requireSession 1
                        ShibRequestSetting redirectToSSL 443
                        require valid-user
                </Location>

                ### Admin Level Access ###
                <Location /admin>
                        AuthType shibboleth
                        ShibRequestSetting requireSession 1
                        ShibRequestSetting redirectToSSL 443
                        require shib-attr eppn <List Admin EPPNs, space separated list>
                </Location>

                RequestHeader set X-Remote-User %{REMOTE_USER}s  # For JupyterLab authentication

                RewriteEngine on
                ProxyPreserveHost on

                ### Jupyter Hub ###
                RewriteCond %{HTTP:Connection} Upgrade [NC]
                RewriteCond %{HTTP:Upgrade} websocket [NC]
                RewriteRule /panel/jhub/(.*) ws://127.0.0.1:8000/panel/jhub/$1 [P,L]
                RewriteRule /panel/jhub/(.*) http://127.0.0.1:8000/panel/jhub/$1 [P,L]

                <Location /panel/jhub>
                          ProxyPass http://127.0.0.1:8000/panel/jhub
                          ProxyPassReverse http://127.0.0.1:8000/panel/jhub
                </Location>

        </VirtualHost>
</IfModule>